Options +FollowSymLinks -MultiViews
RewriteEngine On

# Always route through index.php, except for actual files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]
